
<div class="pane row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2><a href="{{url_for('showCatalog')}}">Categories</a></h2>
                {% for category in categories %}
                <a href="{{url_for('showItems', category = category.name)}}"> <p>{{category.name}}</p></a>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                {% if category %}

                    <h2>Category: {{category.name}} ({{items|length}} items)</h2>

                    {% for item in items %}
                    <a href = "{{url_for('showItem', category=item.category.name, item=item.title)}}"> <p>{{item.title}}</p></a>
                    {% endfor %}

                    {% if items|length == 0 %}
                    <div class="no-item-found">No item found for this category</div>
                    {% endif %}

                {% else %}

                    <h2>Latest Items:</h2>

                    {% for item in items %}
                    <a href = "{{url_for('showItem', category=item.category.name, item=item.title)}}"> <p>{{item.title}} ({{item.category.name}})</p></a>
                    {% endfor %}
                {% endif %}




            </div>
        </div>
    </div>

</div>

<a class="btn btn-outline-success" href="{{url_for('newItem')}}" > Add Item </a>
