
<div class="pane row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                {% for category in categories %}
                <a href = "{{url_for('showItems', category_id = category.id)}}"> <p>{{category.name}}</p></a>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                {% if category %}
                <h2>Category: {{category.name}}</h2>
                {% endif %}

                {% if items|length == 0 %}
                <div class="no-item-found">No items found for this category</div>
                {% endif %}

                {% for item in items %}
                <a href = "{{url_for('showCatalog')}}"> <p>{{item.title}} ({{item.category_id}})</p></a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<a class="btn btn-outline-success" href="{{url_for('newItem')}}" > Add Item </a>
