<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="container">

    <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand mr-auto" href="#">Catalog App</a>

        <button class="btn btn-light" type="submit">Login</button>

    </nav>

    <div class="pane">

        <div class="row">

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        {% for category in categories %}
                        <a href = "{{url_for('showCatalog')}}"> <p>{{category.name}}</p></a>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        {% for item in items %}
                        <a href = "{{url_for('showCatalog')}}"> <p>{{item.title}} ({{item.category_id}})</p></a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>


    <a class="btn btn-outline-success" href="{{url_for('newItem')}}" > Add Item </a>


</div>

</body>

</html>
